<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Main Menu</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li> hello </li>
        <li> hi there </li>
      </ul>
    </nav>
  </div>
</div>
