<nav class="navbar navbar-expand navbar-dark bg-dark">

  <!-- Brand logo -->
  <a class="navbar-brand" href="/">
    <%= image_tag("logos/logo-64x64_inverted.png", alt: "Digital Synapse Logo", width: '24', height: '24') %> Alexandria
  </a>



</nav>


