<div class="wrapper">
  <!-- Page content -->
  <nav id="content">
    <!-- Main page section -->
    <div class="container">

      <!-- header block -->
      <div class="row">

        <!-- Header Information -->
        <div class="col-9">
          <!-- <h1>Book Information for <%= @book.name %></h1> -->
          <h1></h1>
        </div>

        <!-- Book badges -->
        <div class="col-3">
          <!-- fill this in later when we have more information -->

        </div>
      </div>


      <%= render 'form', form_page: "edit" %>


    </div>
    <!-- End Page Content -->

  </nav>
</div>