<%= render 'header' %>

<body>


<div class="wrapper">
  <!-- Top Navbar -->
  <%= render 'navbar' %>
  <!-- End top navbar -->



  <!-- Page content -->
  <nav id="content">
    <!-- Main page section -->
    <div class="container">

      <!-- header block -->
      <div class="row">

        <!-- Header Information -->
        <div class="col-9">
          <h1>Add New Book</h1>
        </div>

        <!-- Book badges -->
        <div class="col-3">
          <!-- fill this in later when we have more information -->

        </div>
      </div>


      <%= render 'form' %>




    </div>
    <!-- End Page Content -->




  </nav>





</body>

